# dot files
.DS_Store

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Scaffold
.env
.scaffold
build
logs

# agent

.codex
.claude
.agent
.superpowers

# Packages and Patches
*.patch
*.xpi
*.zip
*.tar.gz
dist/
